body {background-color: #FFFFF;}
h1 {font-style: italic;}
h2{font-style: italic;} 
p {font-variant: small-caps; font-size: 1.5em;color:maroon;}
a {color: black; font-variant: small-caps; font-size: 1.5em;}

